<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Nouveau Film</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Rentrez les informations du nouveau film</h1>

    <form method="post" action="/movies">
        <label for="name">Name :</label>
        <input id="name" name="name">
        <br>
        <br>
        <label for="duration">Duration : </label>
        <input id="duration" name="duration">
        <br>
        <br>
        <label for="year">Année : </label>
        <input id="year" name="year">
        <br>
        <br>
        <label for="genre">Genre : </label>
        <input id="genre" name="genre">
        <br>
        <br>
        <input type="submit" value="Enregistrer">
    </form>
</div>
</body>
</html>