<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Liste de Films</title>
</head>
<body>
<div layout:fragment="content">

  <h1> Tous les films enregistrés</h1>
  <a href="/movies/form">Novo</a>
  <br/>
  <table>
    <thead>
    <tr>
      <th>NOM</th>
      <th>DURATION</th>
      <th>ANNE</th>
      <th>GENRE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${listMovies}">
      <td th:text="${movie.name}"></td>
      <td th:text="${movie.duration}"></td>
      <td th:text="${movie.year}"></td>
      <td th:text="${movie.genre}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>